<kendo-grid [data]="users" [height]="650" (add)="addHandler($event)" (cancel)="cancelHandler($event)" (remove)="removeHandler($event)" (save)="saveHandler($event)">
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand [primary]="true">Add new user</button>
    </ng-template>
    <kendo-grid-column field="id" title="User ID" width="130"></kendo-grid-column>
    <kendo-grid-column field="first_name" title="First Name" width="200"></kendo-grid-column>
    <kendo-grid-column field="last_name" title="Last Name" width="200"></kendo-grid-column>
    <kendo-grid-column field="email" title="Email" width="200"></kendo-grid-column>
    <kendo-grid-command-column title="Commands" width="220">
        <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
            <button kendoGridRemoveCommand [disabled]="dataItem.id == 1 || dataItem.id == loginUser.uid">Remove</button>
            <button kendoGridSaveCommand [disabled]="formGroup?.invalid">Add</button>
            <button kendoGridCancelCommand>Cancel</button>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>
